.navbar {
  padding: 10px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  height: 40px;
}

.search-bar {
  margin-left: 20px;
  padding-left: 15px;
  color: gray;
  border: 1px solid gray;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.navbar-item {
  color: gray;
  cursor: pointer;
}

.navbar-item:hover {
  color: #1a3a32;
}

.sign-up-button {
  display: flex;
  color: white;
  background-color: #1a3a32;
  height: 30px;
  padding: 15px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.sign-up-button:hover {
  background-color: orange;
}
